@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

:root {
    --red: #f55;
    --green: #3c7;
    --water: hsla(199, 46%, 70%, 0.7);
    --black: #333;
    --white: rgb(220, 220, 220);
    --white-fade: rgba(220, 220, 220, 0.65);
    --white-fade-heavy: rgba(220, 220, 220, 0);
    --primary-color: rgb(14, 123, 92);
    --primary-color-fade: rgba(14, 123, 92, 0.3);
    --primary-color-light: rgb(44, 153, 122);
    --secondary-color: rgb(240, 180, 70);
    --secondary-color-dark: rgb(168, 126, 23);
}

::selection {
    background-color: var(--primary-color);
    color: var(--white);
}

@keyframes wave {
    100% {
        background-position: -50px 0, -50px 0, 0 0, 0 0;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    max-width: 750px;
    margin: auto auto;
    line-height: 1.6;
    font-size: 16px;
    font-family: 'Josefin Sans', 'sans-serif';
    font-weight: 700;
    color: rgb(220, 220, 220);
    background-color: var(--primary-color-light);
    background-image: linear-gradient(135deg, var(--primary-color-fade) 25%, transparent 25%),
    linear-gradient(225deg, var(--primary-color-fade) 25%, transparent 25%),
    linear-gradient(315deg, var(--primary-color-fade) 25%, transparent 25%),
    linear-gradient(45deg, var(--primary-color-fade) 25%, transparent 25%);
    background-attachment: fixed;
    background-position: -250px -400px, -250px -400px, 0 -400px, 0 -400px;
    background-size: 100px 100px;
    background-repeat: repeat;
}

#guess-info {
    font-size: 0.9em;
}

#bad-guess-count::before {
    content: 'Wrong: ';
}

#guessed-letters::before {
    content: 'Guessed: ';
}

#game-window {
    margin: 0.5em;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    overflow: auto hidden;
}

#game-window > header {
    flex: 0 1 auto;
}

#game-room-name {
    margin: 0.4em auto;
}

article {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    font-family: monospace;
    font-weight: 400;
}

#game-content {
    cursor: default;
}

#cmd {
    flex: 0.4 1 6em;
    padding: 8px 16px;
    overflow-y: scroll;
    border-radius: 0 0 10px 10px;
}

#game-info {
    padding: 0 0.5em 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(var(--water), var(--primary-color));
}

#panorama {
    position: relative;
    min-height: 192px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.minimized-y {
    height: 0;
}

article a {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
}

article a:hover, article a:focus, article a:active {
    color: var(--white);
    background-color: var(--primary-color-fade);
}

a {
    transition: background-color 0.5s, color 0.5s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', 'sans-serif';
}

h1.outer-text {
    border-bottom: var(--white) 3px solid;
    border-radius: 10px;
}

.outer-text, #word-progress {
    text-shadow: 2px 2px 1px var(--black);
}

#word-progress {
    flex: 1 1 auto;
    font-family: 'Josefin Sans', 'sans-serif';
    font-size: 2.6em;
    font-weight: bold;
    text-align: center;
    transition: color 1s ease;
}

#word-progress::before {
    content: '';
    display: table;
}

#word-progress.bad-job {
    color: var(--red);
}

#game-info {
    transition: all 2s ease;
}

ul {
    padding-left: 22px;
    list-style-type: none;
}

ul li::before {
    content: "- ";
    font-weight: bold;
    color: var(--primary-color);
}

input[type=radio], input[type=checkbox] {
    margin-left: 15px;
}

button {
    margin: 0.2em;
    padding: 0.8em;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white);
    border: 2px solid var(--black);
    font-family: 'Josefin Sans', 'sans-serif';
}

button:hover, button:focus, button:active {
    background-color: var(--primary-color-light);
}

.flex-container {
    display: flex;
    flex-wrap: wrap-reverse;
}

.flex-stretch {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-stretch > div {
    margin: 0.2em 1em;
}

.flex-item-stretch {
    flex: 1;
}

.flex-column-reverse {
    display: flex;
    flex-direction: column;
}

#control-panel {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    background-color: var(--black);
}

#cmd-input-div {
    padding-bottom: 8px;
    scroll-snap-align: end;
}

#cmd, #cmd label, #cmd input {
    background-color: var(--black);
    border: none;
    outline: none;
    color: var(--white);
    font-size: 1em;
}

#cmd label {
    color: var(--secondary-color);
}

#chat-history div {
    scroll-padding-bottom: 0;
}

.user-tag {
    display: inline-grid;
    padding: 2px 0;
    max-width: 15em;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: underline;
    text-underline-offset: 3px;

}

#user-list-box {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 40%;
    overflow: hidden auto;
    scrollbar-width: none;
    text-align: right;
}

#user-list {
    overflow: auto;
}

#user-list > div {
    margin: 0 0.4em;
}

.not-ready, .not-ready label, .not-ready input, .not-ready textarea {
    cursor: wait;
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 480px) and (min-height: 480px) {
    body {
        animation: 6s wave infinite linear;
    }

    #game-window {
        margin: 1em;
        font-size: 18px;
    }

    #game-info {
        padding: 1em;
    }

    #guess-info {
        font-size: 1em;
    }

    #bad-guess-count::before {
        content: 'Wrong guesses: ';
    }

    #guessed-letters::before {
        content: 'Already guessed: ';
    }
}
