<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Pirate Battle!</title>
    <meta content="Guess the secret word." name="description"/>
    <link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>

<div id="game-window">

    <header>
        <h1 class="outer-text">Pirate Battle!</h1>
        <div class="outer-text" id="game-room-name">Guess the secret word.</div>

    </header>

    <article>
        <div id="game-content">
            <div id="ship-display">
                <div class="pixel-art passing" id="waves"></div>
                <div class="pixel-art" id="water"></div>
                <div class="pixel-art" id="ship"></div>
                <div class="pixel-art" id="ship-sail"></div>
                <div class="pixel-art" id="land"></div>
                <div class="pixel-art" id="barrel"></div>
            </div>
            <div id="game-info">
                <div id="word-progress"></div>
                <div class="flex-stretch">
                    <div id="guess-info">Wrong guesses: <span id="bad-guess-count"></span></div>
                    <div>Already guessed: <span id="guessed-letters"></span></div>
                </div>
            </div>
        </div>

        <div id="control-panel">
            <button id="change-room">Change Room</button>
            <button id="change-name">Change Name</button>
            <button class="debug" id="sink-ship">Sink Ship</button>
            <button class="debug" id="landfall">Landfall</button>
            <button class="debug" id="reset-stage">Reset Stage</button>
        </div>

        <div class="not-ready" id="cmd">

            <div class="flex-column-reverse" id="chat-history">
                <div id="cmd-input-div">
                    <form autocomplete="off" id="cmd-form" spellcheck="false">
                        <label for="cmd-input" id="cmd-prompt"></label>
                        <input class="flex-item-stretch" id="cmd-input" type="text"/>
                    </form>
                </div>
            </div>
        </div>

    </article>
</div>

<script crossorigin="anonymous" defer
        src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js" defer></script>-->
<script defer th:src="@{/scripts/game.js}"></script>
</body>
</html>
